@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-100: #0f0f0f;
  --base-200: #212121;
  --base-300: #2c2b2b;
  --base-content: #cfcfcf;
  --base-content-secondary: #acacac;
  --primary: #f5af00;
  --primary-content: #131616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  color: var(--base-content);
  background: var(--base-200);
}

@layer components {
  .main-container {
    @apply max-w-screen-xl mx-auto px-5;
  }

  .primary-btn {
    @apply px-12 py-3 bg-primary text-primary-content text-base font-semibold rounded-lg transition-all delay-100 hover:opacity-80;
  }
}
