@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-100: #272829;
  --base-200: #34353a;
  --base-300: #3d3e42;
  --base-content: #fffff0;
  --base-content-secondary: #faf9f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  color: var(--base-content);
  background: var(--base-100);
  font-family: Arial, Helvetica, sans-serif;
}
